<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:file./125587db</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <!-- Connection pool settings -->
        <property name="hibernate.show_sql">true</property>

        <!-- Automatically create/drop schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- List of mapped classes -->
        <mapping class="it.unicam.cs.mpgc.jtime125587.model.Project"/>
        <mapping class="it.unicam.cs.mpgc.jtime125587.model.Report"/>
        <mapping class="it.unicam.cs.mpgc.jtime125587.model.Task"/>
    </session-factory>
</hibernate-configuration>